In [1]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\david\anaconda3\lib\site-packages (2.0.3)

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\david\anaconda3\lib\site-packages (8.0.26)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\david\anaconda3\lib\site-packages (from mysql-connector-python) (3.18.1)

In [1]:
import csv
import pandas as pd
from sqlalchemy import create_engine, types
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
engine = create_engine('mysql://user:password@localhost/bi_marathon_david_spotify') # enter your password and database names here

In [29]:
df = pd.read_csv('input/spotify.csv',sep=',', low_memory=False, encoding="utf-8") # Replace file_name with your .csv

In [30]:
df['name']=df['name'].apply(str)
df['artists']=df['artists'].apply(str)
df['artist 1']=df['artist 1'].apply(str)
df['artist 2']=df['artist 2'].apply(str)
df['artist 3']=df['artist 3'].apply(str)
df['artist 4']=df['artist 4'].apply(str)
df['artist 5']=df['artist 5'].apply(str)
df['artist 6']=df['artist 6'].apply(str)
df['artist 7']=df['artist 7'].apply(str)
df['artist 8']=df['artist 8'].apply(str)
df['artist 9']=df['artist 9'].apply(str)
df['artist 10']=df['artist 10'].apply(str)
df['artist 11']=df['artist 11'].apply(str)
df['artist 12']=df['artist 12'].apply(str)
df['artist 13']=df['artist 13'].apply(str)
df['artist 14']=df['artist 14'].apply(str)
df['artist 15']=df['artist 15'].apply(str)
df['artist 16']=df['artist 16'].apply(str)
df['artist 17']=df['artist 17'].apply(str)
df['artist 18']=df['artist 18'].apply(str)
df['artist 19']=df['artist 19'].apply(str)
df['artist 20']=df['artist 20'].apply(str)
df['artist 21']=df['artist 21'].apply(str)
df['artist 22']=df['artist 22'].apply(str)
df['artist 23']=df['artist 23'].apply(str)
df['artist 24']=df['artist 24'].apply(str)
df['artist 25']=df['artist 25'].apply(str)
df['artist 26']=df['artist 26'].apply(str)
df['artist 27']=df['artist 27'].apply(str)
df['artist 28']=df['artist 28'].apply(str)
df['artist 29']=df['artist 29'].apply(str)
df['artist 30']=df['artist 30'].apply(str)
df['artist 31']=df['artist 31'].apply(str)
df['artist 32']=df['artist 32'].apply(str)
df['artist 33']=df['artist 33'].apply(str)
df['artist 34']=df['artist 34'].apply(str)
df['artist 35']=df['artist 35'].apply(str)
df['artist 36']=df['artist 36'].apply(str)
df['artist 37']=df['artist 37'].apply(str)
df['artist 38']=df['artist 38'].apply(str)
df['artist 39']=df['artist 39'].apply(str)
df['artist 40']=df['artist 40'].apply(str)
df['artist 41']=df['artist 41'].apply(str)
df['artist 42']=df['artist 42'].apply(str)
df['artist 43']=df['artist 43'].apply(str)
df['artist 44']=df['artist 44'].apply(str)
df['artist 45']=df['artist 45'].apply(str)
df['artist 46']=df['artist 46'].apply(str)
df['artist 47']=df['artist 47'].apply(str)
df['artist 48']=df['artist 48'].apply(str)
df['artist 49']=df['artist 49'].apply(str)
df['artist 50']=df['artist 50'].apply(str)
df['artist 51']=df['artist 51'].apply(str)
df['artist 52']=df['artist 52'].apply(str)
df['artist 53']=df['artist 53'].apply(str)
df['artist 54']=df['artist 54'].apply(str)
df['artist 55']=df['artist 55'].apply(str)
df['artist 56']=df['artist 56'].apply(str)
df['artist 57']=df['artist 57'].apply(str)
df['artist 58']=df['artist 58'].apply(str)

In [31]:
df['name']=df['name'].apply(str.encode)
df['artists']=df['artists'].apply(str.encode)
df['artist 1']=df['artist 1'].apply(str.encode)
df['artist 2']=df['artist 2'].apply(str.encode)
df['artist 3']=df['artist 3'].apply(str.encode)
df['artist 4']=df['artist 4'].apply(str.encode)
df['artist 5']=df['artist 5'].apply(str.encode)
df['artist 6']=df['artist 6'].apply(str.encode)
df['artist 7']=df['artist 7'].apply(str.encode)
df['artist 8']=df['artist 8'].apply(str.encode)
df['artist 9']=df['artist 9'].apply(str.encode)
df['artist 10']=df['artist 10'].apply(str.encode)
df['artist 11']=df['artist 11'].apply(str.encode)
df['artist 12']=df['artist 12'].apply(str.encode)
df['artist 13']=df['artist 13'].apply(str.encode)
df['artist 14']=df['artist 14'].apply(str.encode)
df['artist 15']=df['artist 15'].apply(str.encode)
df['artist 16']=df['artist 16'].apply(str.encode)
df['artist 17']=df['artist 17'].apply(str.encode)
df['artist 18']=df['artist 18'].apply(str.encode)
df['artist 19']=df['artist 19'].apply(str.encode)
df['artist 20']=df['artist 20'].apply(str.encode)
df['artist 21']=df['artist 21'].apply(str.encode)
df['artist 22']=df['artist 22'].apply(str.encode)
df['artist 23']=df['artist 23'].apply(str.encode)
df['artist 24']=df['artist 24'].apply(str.encode)
df['artist 25']=df['artist 25'].apply(str.encode)
df['artist 26']=df['artist 26'].apply(str.encode)
df['artist 27']=df['artist 27'].apply(str.encode)
df['artist 28']=df['artist 28'].apply(str.encode)
df['artist 29']=df['artist 29'].apply(str.encode)
df['artist 30']=df['artist 30'].apply(str.encode)
df['artist 31']=df['artist 31'].apply(str.encode)
df['artist 32']=df['artist 32'].apply(str.encode)
df['artist 33']=df['artist 33'].apply(str.encode)
df['artist 34']=df['artist 34'].apply(str.encode)
df['artist 35']=df['artist 35'].apply(str.encode)
df['artist 36']=df['artist 36'].apply(str.encode)
df['artist 37']=df['artist 37'].apply(str.encode)
df['artist 38']=df['artist 38'].apply(str.encode)
df['artist 39']=df['artist 39'].apply(str.encode)
df['artist 40']=df['artist 40'].apply(str.encode)
df['artist 41']=df['artist 41'].apply(str.encode)
df['artist 42']=df['artist 42'].apply(str.encode)
df['artist 43']=df['artist 43'].apply(str.encode)
df['artist 44']=df['artist 44'].apply(str.encode)
df['artist 45']=df['artist 45'].apply(str.encode)
df['artist 46']=df['artist 46'].apply(str.encode)
df['artist 47']=df['artist 47'].apply(str.encode)
df['artist 48']=df['artist 48'].apply(str.encode)
df['artist 49']=df['artist 49'].apply(str.encode)
df['artist 50']=df['artist 50'].apply(str.encode)
df['artist 51']=df['artist 51'].apply(str.encode)
df['artist 52']=df['artist 52'].apply(str.encode)
df['artist 53']=df['artist 53'].apply(str.encode)
df['artist 54']=df['artist 54'].apply(str.encode)
df['artist 55']=df['artist 55'].apply(str.encode)
df['artist 56']=df['artist 56'].apply(str.encode)
df['artist 57']=df['artist 57'].apply(str.encode)
df['artist 58']=df['artist 58'].apply(str.encode)

In [32]:
df.to_sql('spotify2',con=engine,index=False,if_exists='replace') # Replace Table_name with your sql table name
#df.to_sql('temp_table',con=engine,index=False,if_exists='append') # Replace Table_name with your sql table name